# ==========================================
# C++ & Build Artifacts
# ==========================================
# Prerequisites & Objects
*.d
*.slo
*.lo
*.o
*.obj

# Precompiled Headers & Debugger Files
*.gch
*.pch
*.ilk
*.pdb
*.dwo

# Libraries & Executables
*.so
*.dylib
*.dll
*.so.*
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app

# Build Directories
build/
Build/
build-*/
Testing/
.cache/

# CMake & vcpkg
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
vcpkg_installed/

# ==========================================
# CAD, Mesh & Simulation Tools
# ==========================================
# FreeCAD (Auto-backups & locks)
*.FCBak
*.FCStd1
*.FCLock

# Gmsh 
*.pos
*.opt

# AWS Palace (Solver outputs & temporary directories)
*.jed
*.asms
*.petsc
/palace.json

# ==========================================
# Post-Processing & System Files
# ==========================================
# GNU Octave / MATLAB
octave-workspace
.octave_hist
*.mat

# System Temporary Files
*.tmp
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
